{% extends 'base.html.jinja' %}
{% block content %}
    <div class="mb-3">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Ceneo Web Scraper</span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="{{url_for('extract')}}" class="nav-link active">Extract opinions</a></li>
            <li class="nav-item"><a href="{{url_for('products')}}" class="nav-link">Products list</a></li>
            <li class="nav-item"><a href="{{url_for('author')}}" class="nav-link">About author</a></li>
          </ul>
        </header>
      </div>

    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-heartbreak-fill"></i> <strong>{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
      
    <h2>Opinion extraction</h2>

    <form action="{{url_for('extract')}}" method="POST">
        <div class="mb-3">
            <label for="idInput" class="form-label">Product ID</label>
            <input type="text" class="form-control" id="idInput" name="idInput">
        </div>
        <div class="fixed-left">
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
    
{% endblock content %}