{% extends 'base.html.jinja' %}
{% block content %}
	<div class="container">
	<h2>Project description</h2>
        <ul class="list-group fixed">
          <li class="list-group-item active" aria-current="true">Stages of the project</li>
        </ul>
        <ul class="list-group list-group-numbered">
          <li class="list-group-item">Extraction of elements for a single opinion to separate variables</li>
          <li class="list-group-item">Extraction of elements for a single opinion to one complex variable (dictionary)</li>
          <li class="list-group-item">Extraction of all opinions form single page to list of dictionaries</li>
          <li class="list-group-item">Extraction of all opinions for certain product and saving it to .json file</li>
          <li class="list-group-item">Code refactoring and optimization</li>
          <li class="list-group-item">Adjustment of data types for different opinions' elements</li>
          <li class="list-group-item">Translation of certain opinion's elements into English</li>
          <li class="list-group-item">Analysis of extracted opinions</li>
        </ul>
    </div> 
{% endblock content %}